@charset "UTF-8";

@import url('adminDashboard.css');
.table-wrap{overflow:auto}
.table-wrap table{
	width:100%;
	border-collapse:collapse
	}
th,td{
	padding:10px;
	border-bottom:1px solid var(--border);
	text-align:left
	}
th{
	position:sticky;
	top:0;
	background:#0b1325
	}